@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/*
  breakpoints:
    [ ] 576px for portrait phones
    [ ] 768px for tablets
    [ ] 992px for laptops
    [ ] 1200px for large devices
*/

:root {
  --primary-color: #333;
  --secondary-color: #fff;
  --white: #fff;
  --black: #333;
  --yellow-green: #D2D79F;
  --color-a: #F0EBE3;
  --color-b: #E4DCCF;
  --color-c: #7D9D9C;
  --color-d: #576F72;
}

* {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Aboreto', cursive;
  box-sizing: border-box;
}

body {
  color: var(--black);
  background-color: var(--color-a);
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 4rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2rem;
}


p,
span,
select,
option,
button,
a {
  font-size: 2rem;
}

.icon-font-size {
  font-size: 2rem;
}